<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Location</th>
      <th scope="col">Coordinates</th>
      <th scope="col">     </th>
    </tr>
  </thead>
  <tbody id="table_body">
      <tr>
          <td id="id_1">1</td>
          <td id="Name_1">BTS1</td>
          <td id="Location_1">C1 - ĐHBK</td>
          <td id="Coordinates_1">(20.4213, 204.3211) </td>
          <td>
              <a class="btn1" href="http://127.0.0.1:6868/cot1" style="color : white; border-color : green">Detail</a>
          </td>
      </tr>
      <tr>
          <td id="id_2">2</td>
          <td id="Name_2">BTS2</td>
          <td id="Location_2">C2 - ĐHBK</td>
          <td id="Coordinates_2">(21.2452, 203.4953) </td>
          <td>
              <a class="btn1" href="http://127.0.0.1:6868/cot2" style="color : white; border-color : green">Detail</a>
          </td>
      </tr>
      <tr>
           <td id="id_3">3</td>
          <td id="Name_3">BTS3</td>
          <td id="Location_3">C3 - ĐHBK</td>
          <td id="Coordinates_3">(22.3454, 202.5324) </td>
          <td>
              <a class="btn1" href="http://127.0.0.1:6868/cot2" style="color : white; border-color : green">Detail</a>
          </td>
      </tr>

  </tbody>
</table>

