<!DOCTYPE html>
<html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>ME_645</title>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="../static/style1.css">
 </head>
 <body>
 </body>
</html>
<!--Bắt Đầu Navigation -->
 <nav>
     <div class="brand">
         <h2>ME_645</h2>
     </div>
     <ul>
         <li><a href="http://127.0.0.1:6868"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
         <li><a href=""><i class="fa fa-info" aria-hidden="true"></i> Information </a></li>
         <li><a href="http://127.0.0.1:6868/data_analysis "><i class="fa fa-truck" aria-hidden="true"></i> Data Analysis</a></li>
         <li><a href=""><i class="fa fa-location-arrow" aria-hidden="true"></i> Address</a></li>
     </ul>
 </nav>
 <!--Kết Thúc Navigation -->

 <!-- Dùng Để Chèn Hình Ảnh-->
 <section class="section1"></section>
 <!-- Dùng Để Chèn Hình Ảnh-->

<!--Hiển Thị Nội Dung Văn Bản-->
 <section class="section2">
     <h1>What is BTS ?</h1>
     <p>
         This is ...
     </p>
     <h1>Why do we use it?</h1>
     <p>
         This is...
     </p>
 </section>
 <!--Hiển Thị Nội Dung Văn Bản-->